<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat HTML5/CSS3 Login Form</title>
      <link rel="stylesheet" href="/css/login.css">
</head>

<body>
<script src="//code.jquery.com/jquery.js"></script>
<script>
function join(){
  var data = {};

  data._id = document.getElementById("join_id").value;
  data._pw = document.getElementById("join_pw").value;
  data.first_name = document.getElementById("first_name").value;
  data.last_name = document.getElementById("last_name").value;
  data.birth_date = document.getElementById("birth_date").value;
  data.checkup_date = document.getElementById("checkup_date").value;
  data.hospital = document.getElementById("hospital").value;
  data.pressure = document.getElementById("pressure").value;
  data.last_name = document.getElementById("last_name").value;
  data.address= document.getElementById("address").value;
  data.pressure = document.getElementById("pressure").value;
  data.creatinine = document.getElementById("creatinine").value;
  data.glucose = document.getElementById("glucose").value;
  data.hb = document.getElementById("hb").value;
  data.CA = document.getElementById("CA").value;
  data.ph = document.getElementById("ph").value;
  data.plt = document.getElementById("plt").value;
  data.rbc = document.getElementById("rbc").value;
  data.tsh = document.getElementById("tsh").value;
  data.wbc = document.getElementById("wbc").value;

  console.log(data);
  var request = $.ajax({
    url: "http://localhost:8080/join",
    type: "POST",
    dataType:"json",
    data: data,
});

request.done(function(data){
   if (data != null){
    if (data.result == 1) {
      window.location="http://localhost:8080/login";
    } else{
     console.log('fail!');
    }
   }
  });
  request.fail(function(jqXHR, textStatus){
   alert("등록 오류 발생!");
  });
}

function login(){
  var data = {};

  data._id = document.getElementById("login_id").value;
  data._pw = document.getElementById("login_pw").value;

  console.log(data);
  var request = $.ajax({
    url: "http://localhost:8080/login",
    type: "POST",
    dataType:"json",
    data: data,
});

request.done(function(data){
   if (data != null){
    if (data.success == 1 ) {
      console.log(data.success);
      window.location="http://localhost:8080/";
    }
   }
  });
  request.fail(function(jqXHR, textStatus){
   alert("로그인 오류 발생!");
  });
}

</script>
  <div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" id ="join_id" placeholder="아이디"/>
      <input type="password" id = "join_pw" placeholder="비밀번호"/>
      <input type="text" id = "first_name" placeholder="성"/>
      <input type="text" id = "last_name" placeholder="이름"/>
      <input type="text" id = "birth_date" placeholder="생년월일"/>
      <input type="text" id = "checkup_date" placeholder="검진일"/>
      <input type="text" id = "hospital" placeholder="검진병원"/>
      <input type="text" id = "address" placeholder="주소"/>
      <input type="text" id = "pressure" placeholder="수축기혈압"/>
      <input type="text" id = "creatinine" placeholder="크레아티닌"/>
      <input type="text" id = "glucose" placeholder="공복혈당"/>
      <input type="text" id = "hb" placeholder="헤모글로빈 수치"/>
      <input type="text" id = "CA" placeholder="소화기암 표지수치"/>
      <input type="text" id = "ph" placeholder="PH"/>
      <input type="text" id = "plt" placeholder="PLT"/>
      <input type="text" id = "rbc" placeholder="적혈구수치"/>
      <input type="text" id = "tsh" placeholder="갑상선수치"/>
      <input type="text" id = "wbc" placeholder="백혈구수치"/>
      <button onclick="join()">확인</button>
      <p class="message">이미 가입하셨나요? <a href="/login">로그인</a></p>
    </form>
    <form class="login-form">
      <input type="text" id ="login_id" placeholder="아이디"/>
      <input type="password" id = "login_pw" placeholder="비밀번호"/>
      <button onclick="login()">로그인</button>
      <p class="message">회원가입을 안하셨나요? <a href ='#'>회원가입</a></p>
    </form>
  </div>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
   $('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
  </script>

</body>
</html>
