<html lang="utf-8">
<head>
<meta charset="utf-8">
<link media="all" rel="stylesheet" type="text/css" href="/css/sol.css" />
<title>생활처방</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=ABeeZee'
	rel='stylesheet' type='text/css'>
	

</head>

<body>

	<!--  
	<div class="row-fluid" style="text-align: center; margin-bottom: 20px;">


	<h1>아아아아아아아아</h1>

	</div>
	-->
	<div class="row-fluid" style="text-align: center;">

		<div class="span3 tiny " style="text-align: center; margin-left: 1%; width: 30%; height: 840px;">
			<div class="pricing-table-header-tiny">
				<h2>주요 병명</h2>
			</div>
			<div class="pricing-table-features">
				<p>
					<strong>뇌졸중</strong> (뇌)
				</p>
				<p>
					<strong>갑상선 비대증</strong> (갑상선)
				</p>
				<p>
					<strong>고혈압</strong> (심장)
				</p>
				<p>
					<strong>폐렴</strong> (폐)
				</p>
				<p>
					<strong>간암</strong> (간)
				</p>
				<p>
					<strong>위염</strong> (위)
				</p>
				<p>
					<strong>담석증</strong> (쓸개)
				</p>
				<p>
					<strong>소장암</strong> (소장)
				</p>
				<p>
					<strong>전립선 비대증</strong> (전립선)
				</p>
				<p>
					<br><br><br><br><br><br><br><br><br><br><br><br><br>
				</p>
			</div>
			<div class="pricing-table-signup-tiny">
				<p>
					<a>9개의 질병</a>
				</p>
			</div>
		</div>
		<div class="span3 small"; style="text-align: center; margin-left: 4%; width: 30%; height: 840px;">
			<div class="pricing-table-header-small">
				<h2>운동 처방</h2>
			</div>
			<div class="pricing-table-features2">
				<p><strong>일상 생활에서 손쉽게</strong><br>
				<strong>실천가능한 스트레칭</strong></p>
				<a><img alt="stretch1"  src="/images/str1.jpg"/></a>
				<a><img alt="stretch2"  src="/images/str2.jpg" style="margin-top: 25px"/></a>
				<a><img alt="stretch3"  src="/images/str3.jpg" style="margin-top: 25px"/></a>
			</div>
		</div>


		<div class="span3 medium"; style="text-align: center; margin-left: 4%; width: 30%; height: 840px;">
			<div class="pricing-table-header-medium">
				<h2>식생활 처방</h2>
			</div>
			<div class="pricing-table-features2">
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>뇌졸중</strong><br>
					삼킴장애 예방을 위해 음식<br>
					농도 걸쭉하게 섭취하기
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>갑상선 비대증</strong><br>
					해산물과 채소류 섭취하기<br>
					(특히, 다시마와 미역)
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>고혈압</strong><br>
					저염식으로 음식 섭취하기<br>
					(소금을 1/3정도로)<br>
					과음하지 않기
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>폐렴</strong><br>
					조금씩 자주 식사하기<br>
					차가운음식, 자극적인음식<br>
					제한 (커피,탄산음료)
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>위염</strong><br>
					소화되기 쉽도록 음식을<br>
					부드럽게 조리하여 섭취<br>
					기름진 음식, 과식, 폭음 제한
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>담석증</strong><br>
					저지방식 섭취 및<br>
					자극적인 음식 섭취 제한<br>
					과체중일 경우 체중조절 필요
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>간암 / 소장암</strong><br>
					각종 비타민 섭취를 위해<br>
					식단 고르게 구성하기
				</p>
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>전립선 비대증</strong><br>
					과일 및 채소류 섭취하기<br>
					(특히, 토마토 마늘 녹차)<br>
					육류와 지방 칼로리 제한
				</p>
			</div>
		</div>
	</div>
	
</body>

</html>
