<html lang="utf-8">
<head>
<meta charset="utf-8">
<link media="all" rel="stylesheet" type="text/css" href="/css/sol.css" />
<title>생활처방</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=ABeeZee'
	rel='stylesheet' type='text/css'>
	

</head>

<body>

	<!--  
	<div class="row-fluid" style="text-align: center; margin-bottom: 20px;">


	<h1>아아아아아아아아</h1>

	</div>
	-->
	<div class="row-fluid" style="text-align: center;">

		<div class="span3 tiny " style="text-align: center; margin-left: 1%; width: 30%; height: 840px;">
			<div class="pricing-table-header-tiny">
				<h2>주요 병명</h2>
			</div>
			<div class="pricing-table-features">
				<p>
					<strong>질병 없음</strong> (매우건강)
				</p>
			</div>
			<div class="pricing-table-signup-tiny">
				<p>
					<a>0개의 질병</a>
				</p>
			</div>
		</div>
		<div class="span3 small"; style="text-align: center; margin-left: 4%; width: 30%; height: 840px;">
			<div class="pricing-table-header-small">
				<h2>운동 처방</h2>
			</div>
			<div class="pricing-table-features2">
				<strong>건강을 유지하기 위한</strong><br>
				<strong>간단한 스트레칭</strong><br>
				<a><img alt="stretch1"  src="/images/str4.jpg"/></a>
				<a><img alt="stretch2"  src="/images/str5.jpg" style="margin-top: 25px"/></a>
				<a><img alt="stretch3"  src="/images/str6.jpg" style="margin-top: 25px"/></a>
			</div>
		</div>


		<div class="span3 medium"; style="text-align: center; margin-left: 4%; width: 30%; height: 840px;">
			<div class="pricing-table-header-medium">
				<h2>식생활 처방</h2>
			</div>
			<div class="pricing-table-features2">
				<p style="font-size: 16px; background-color : #d3ffc4">
					<strong>건강을 유지하기 위한</strong><br>
					<strong>식습관 소개</strong><br>
					1) 규칙적인 식사<br>
					2) 음식 싱겁게 먹기<br>
					3) 식품군 골고루 섭취<br>
					4) 물 많이 마시기
				</p>
			</div>
		</div>
	</div>
	
</body>

</html>
